.page-1 {
    width: 100%;
    height: auto;
    position: relative;
}

.page-1-content {
    position: absolute;
    top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-quizz-container {
    width: 100%;
    height: 320px;
    background: lightgreen;
}

.user-quizz-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.user-quizz-box {
    width: calc(96% / 3);
    height: calc(100vh / 3) ;
    margin-top: 10px;
    margin-left: 1%;
    background-color:red;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    overflow-x: hidden;
}

.all-quizz-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.all-quizz-box {
    width: calc(96% / 3);
    height: calc(100vh / 3) ;
    margin-top: 10px;
    margin-left: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    overflow-x: hidden;
}

.all-quizz-box h1 {
    position: relative;
    top: 60%; left: 5%;
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 22px;
}

/* mobile */
@media (max-width: 900px) {
    .all-quizz-box {
        width: 100%;
        height: calc(100vh / 5) ;
    }
    .user-quizz-box {
        width: 100%;
        height: calc(100vh / 5) ;
    }
    .create-quizz-container {
        height: 200px;
    }
} 
